body{
    font: .9em/1.2 Arial, Helvetica, sans-serif;
}

ul, ol{
    font-size: 2em;
}


p{
    font-size: 2em;
    max-width: 600px;
    margin: 1em auto;
}

nav > ul{
    list-style: none;
}

.navigation-root > li{
    margin-top: 20px;
}

nav > ul > li > a{
    text-decoration: none;
    margin: 10px;
    /* margin-left: 10px; */
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
}

.menu{
    position: absolute;
    top: 0;
    right: 0;
}

/* #submitSubscribeButton, .btn {
    font-size: 2em;
    border-radius: 3em;
    height: 3em;
    color: var(--accent-color);
}

#submitSubscribeButton,.btn > a {
  text-decoration: none;
} */
