body {
    overflow: hidden;

}

h1{
    font-size: 4em;
}

p{
    font-size: 1.2em;
}
.grid-container > div {
    grid-area: a;
    align-self: center;
    justify-self: center;
    text-align: center;
  }


  .grid-container > div > span {
    margin: auto;
  }


  .btn {
      background-color:rgba(15, 107, 255, 1);
      color:white;
      font-size: 2em;
      font-weight: 400;
      border-radius: 80px;
      min-width: 100px;
      height: 60px;
      padding: 0 5% 0 5%;
  }

  .btn:hover {
    cursor: pointer;
    background-color:rgb(87, 151, 255);
}



.navigation-menu {
    position: absolute;
    font-size: 1.5em;
    margin: 10px;
}
.navigation-menu > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-menu > ul > li {
    display: inline;
}


.navigation-menu > ul > li > a{
    text-decoration: none;
}

.navigation-menu > ul > li > a:hover {
    color: lightgray;
}