
.form-container{
    max-width: 1080px;
    border: 5px solid red;
}

.form-row{
    display: flex;
    padding: 4px 0;
    max-width: 600px;
}

.form-row > label{
    display: inline-block;
    margin-right: 20px;
    align-self: center;
    flex: 32%;
}

#submitDLForm > input{
    min-width: 20em;
}

.sms-example > img {
    max-height:600px; /* you can use % */
    width: auto;
}

.logo > img {
    max-height:100px; /* you can use % */
    width: auto;
}

#emailAddressInput,
#countySelect {
    min-width: 20em;
}

#countySelect {
    min-height: 8em;
}

.message-color-success{
    color: #007700;
}

.message-color-error{
    color:red;
}

.form-pattern-desc{
    font-size: 10px;
    display: block;
}
body {
    /* background-color:rgb(245, 241, 221); */
    /* background-image: url('../images/recordchecker.png');
    background-repeat:no-repeat;
    background-position: top left; */
}

input:disabled {
    cursor: not-allowed;
}

pre {
    white-space: pre-wrap;
    word-break: keep-all
}