#submitDLForm > input{
    min-width: 20em;
}

.sms-example > img {
    max-height:600px; /* you can use % */
    width: auto;
}

.logo > img {
    max-height:200px; /* you can use % */
    width: auto;
}