form {
    display: grid;
    max-width: 650px;
    grid-gap: 10px;
    grid-template-columns: 200px 1fr;
    align-self: left;
}

.label-row{
    display: grid;
    grid-template-columns: repeat(1 1fr);
}


#submitSubscribeButton{
    grid-column: 2 / 3;
}

input{
    height: 1em;
}

.form-pattern-desc{
    font-size: 0.7em;
}

#countySelect{
    width: 15em;
}

#driversLicenseIdInput{
    width: 17em;
}
#phoneNumberInput{
    width: 10em;
}

#dobInput{
    width: 15em;
}