.form-section{
border-radius: 4px;
box-shadow: 0 50px 100px -20px rgba(50,50,93,.25),0 30px 60px -30px rgba(0,0,0,.3),0 -18px 60px -10px rgba(0,0,0,.025);
max-width: 650px;
justify-self: center;
margin-bottom: 30px;
}


form {
    display: grid;
    grid-template-columns:1fr;
    max-width: 600px;
    grid-gap: 10px;
    text-align: left;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    padding: 10px 18px 0px 24px;
}

.tos{
    display: grid;
    grid-template-columns: 30px 1fr;
}

.label-row{
    display: block;
    /* grid-template-columns: 1fr; */
}


#agreementInput {
    margin-bottom: unset;
    vertical-align:middle;
}
.submit-column{
    display: grid;
}


input{
    height: 1em;
}

.form-pattern-desc{
    font-size: 0.9em;
}

#countySelect{
    width: 15em;
    height: 6em;
}

#driversLicenseIdInput{
    width: 17em;
}
#phoneNumberInput{
    width: 10em;
}

#dobInput{
    width: 15em;
}

.message-color-success{
    color: #007700;
}

.message-color-error{
    color:red;
}

.form-pattern-desc{
    font-size: 10px;
    display: block;
}

.label-body{
    margin: unset;
    align-self: center;
    /* margin-bottom: 1em; */
}

input:disabled {
    cursor: not-allowed;
}

pre {
    white-space: pre-wrap;
    word-break: keep-all
}

label {
    font-size: 2em;
}

input, select {
    font-size: 2em;
}

#submitSubscribeButton{
    color: var(--text-color-richer);
    background-color: var(--accent-color-hover);
}




/* COLORS */
